<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bloggify</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <header>
      <div class="logo-container">
          <a href="#">BLOGGIFY</a>
      </div>
      <ul>
          <li><a href="/userProfile/<%=user%>">Home</a></li>
          <li><a href="/myBlogs/<%=user%>">My Blogs</a></li>
          <li><a href="/create/<%=user%>">New Blog</a></li>
      </ul>
      <ul>
          <button class="login-btn">
              <a href="/login">Logout</a></li>
          </button>
      </ul>
  </header>

    <div class="edit-blog">
      <div class="edit-blog-title-container">
        <h1 class="edit-blog-title">Create new blogpost</h1>
        <div class="underscore"></div>
      </div>
      <form method="POST" action="/myBlogs/edit/<&=user&>/<%=blog._id%>">
        <label for="title">Blog Title</label>
        <input
          type="text"
          name="title"
          id="title"
          class="input"
          value="<%= blog.title %>"
        />
        <label for="body">Blog Text</label>
        <textarea name="body" id="body" class="input"><%= blog.body %></textarea>
        <button type="submit">UPDATE</button>
      </form>
    </div>
  </body>
</html>
