<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bloggify</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <header>
      <div class="logo-container">
          <a href="#">BLOGGIFY</a>
      </div>
      <ul>
          <li><a href="/userProfile/<%=user._id%>">Home</a></li>
          <li><a href="/myBlogs/<%=user._id%>">My Blogs</a></li>
          <li><a href="/create/<%=user._id%>">New Blog</a></li>
      </ul>
      <ul>
          <button class="login-btn">
              <a href="/login">Logout</a></li>
          </button>
      </ul>
  </header>

    <main>
      <h1>BLOGPOSTS</h1>
      <div class="underscore"></div>
      <div class="blogs">
        <% if(blogs.length > 0) { %> <% blogs.forEach(blog => { %>
        <div class="blogs-container">
          <h3 class="blogs-title"><%= blog.title %></h3>
          <p class="blogs-body"><%= blog.body %></p>
        </div>
        <% }) %> <% } else { %>
        <p>There are no blogs to display...</p>
        <% } %>
      </div>
    </main>
  </body>
</html>
